@top_tech_text: 136px;
@middle_tech_text: 190px;
@bottom_tech_text: 240px;

.tree_box {
  min-width: 300px;
  position: relative;
  text-align: center;
}
.tech_side_image {
  min-width: 200px;
  text-align: center;
}
#tree_django {
  position: absolute;
  top: @middle_tech_text;
  left: 20px;
}
#tree_jquery {
  position: absolute;
  top: @middle_tech_text;
  left: 240px;
}
#tree_python {
  position: absolute;
  top: @bottom_tech_text;
  left: -10px;
}
#tree_ubuntu {
  position: absolute;
  top: @top_tech_text;
  left: 50px;
}
#tree_mysql {
  position: absolute;
  top: @top_tech_text;
  left: 200px;
}
#tree_linux {
  position: absolute;
  top: @bottom_tech_text;
  left: 276px;
}
