.row {
  position: relative;
}
.row_32 {
  position: relative;
  height: 32px;
}
.row_border {
  line-height: 30px;
  border-bottom: 1px solid #2F9A41;
}
.contact_info {
  position: absolute;
  top: 0px;
  left: 100px;
  line-height: 30px;
}
#gallery {
  left: 0px;
  width: 940px;
}
#slides {
  height: 310px;
}
.blog_navigation {
  position: relative;
  height: 40px;
  width: 100%;
}
.client_slide {
  float: left;
  text-align: center;
  display: none;
}
.client_image {
  top: 0px;
  display: inline-block;
  vertical-align: middle;
}
.client_text_box {
  width: 740px;
  margin: 20px;
  display: inline-block;
}
.link_underline {
  position: relative;
  top: -8px;
  height: 2px;
  width: 80%;
  margin: 0 auto;
  background-color: #2F9A41;
}
.client_underline {
  display: none;
}
.slide {
  position: relative;
  height: 75px;
  width: 786px;
  float: left;
  margin-left: 67px;
}
a img {
  border: none;
}
.tech_boxes {
  position: relative;
  top: 0px;
  left: 67px;
  width: 800px;
}
.competitor-boxes {
  position: relative;
  top: 0px;
  left: 98px;
  width: 740px;
  cursor: pointer;
}
#logo_box {
  width: 194px;
}
.logo_subtext {
  text-align: center;
  font-size: 12px;
}
.unformatted {
  text-decoration: none;
  color: #C0C0C0;
}
a:link,
a:visited {
  color: #C0C0C0;
  text-decoration: none;
}
a:hover,
a:active {
  color: #C0C0C0;
}
a.active,
a.active a:hover {
  text-decoration: underline;
}
a.inactive {
  text-decoration: none;
}
.content_box a:link,
.content_box a:visited {
  text-decoration: underline;
  color: #808080;
}
.blog-nav a:link,
.blog-nav a:visited {
  text-decoration: none;
  color: #C0C0C0;
}
.competitor-boxes a:link,
.competitor-boxes a:visited {
  text-decoration: none;
  color: #C0C0C0;
}
html,
body {
  color: #C0C0C0;
  background-color: black;
  font: 16px prime_regular;
}
.unselectable {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}
#container {
  width: 960px;
  margin: 0 auto;
}
#nav_menu_bar {
  width: 964px;
  height: 40px;
  margin-top: 10px;
}
.table {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}
.nav_menu_bar_tier_2 {
  position: relative;
  left: 0px;
  width: 960px;
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
}
.nav_menu_tier_2 {
  float: left;
  width: 137px;
}
.nav_menu_tier_2_text {
  width: 80%;
  margin: 0 auto 10px;
}
.menu_item {
  cursor: pointer;
}
.nav_menu {
  float: left;
  width: 133.14285714px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.gallery_tool_img {
  float: left;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.client_button {
  float: left;
  width: 144px;
  height: 50px;
  line-height: 20px;
}
.green_border {
  border: 2px solid #2F9A41;
}
.content_box {
  width: 940px;
  border: 2px solid #2F9A41;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
  line-height: 1.2;
}
.content_col {
  display: inline-block;
  vertical-align: top;
  width: 440px;
  padding: 10px;
  min-height: 300px;
}
.content_col_left {
  display: inline-block;
  vertical-align: top;
  width: 440px;
  padding: 10px;
  min-height: 300px;
  border-right: 1px solid #2F9A41;
}
.content_col_right {
  display: inline-block;
  vertical-align: top;
  width: 440px;
  padding: 10px;
  min-height: 300px;
  margin-top: 10px;
}
.row_text_common {
  float: left;
  width: 252px;
  line-height: 40px;
  text-align: center;
}
.row_text_center {
  float: left;
  width: 396px;
  line-height: 40px;
  text-align: center;
}
.row_thirds {
  float: left;
  width: 20px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
}
.top_row {
  position: relative;
  margin-top: 20px;
  height: 70px;
}
.logo_box {
  position: absolute;
  height: 28px;
  width: 28px;
  border-left: 2px solid #2F9A41;
}
.twitter_logo_box {
  position: absolute;
  height: 28px;
  width: 28px;
  border-left: 2px solid #2F9A41;
  right: 60px;
}
.pinterest_logo_box {
  position: absolute;
  height: 28px;
  width: 28px;
  border-left: 2px solid #2F9A41;
  right: 30px;
}
.linkedin_logo_box {
  position: absolute;
  height: 28px;
  width: 28px;
  border-left: 2px solid #2F9A41;
  right: 90px;
}
.facebook_logo_box {
  position: absolute;
  height: 28px;
  width: 28px;
  border-left: 2px solid #2F9A41;
  right: 0px;
}
.social_box {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 28px;
  width: 305px;
  line-height: 32px;
  text-align: center;
}
.repo_link {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 28px;
  width: 190px;
  text-align: center;
}
.code_highlights .tl_green {
  color: #2F9A41;
}
.code_highlights .host {
  color: #8ae234;
}
.code_highlights .path {
  color: #729fcf;
}
.code_highlights .quote {
  color: #ff5f87;
}
.code_highlights .method {
  color: #af5f00;
}
.code_highlights .protected {
  font-weight: bold;
  color: white;
}
code {
  padding: 1px 2px;
  background: #202020;
  border: 1px solid;
  border-color: #808080;
  border-radius: 3px;
  font: 16px prime_regular;
  max-width: 100%;
  overflow-x: auto;
}
code .tl_green {
  color: #2F9A41;
}
code .host {
  color: #8ae234;
}
code .path {
  color: #729fcf;
}
code .quote {
  color: #ff5f87;
}
code .method {
  color: #af5f00;
}
code .protected {
  font-weight: bold;
  color: white;
}
pre code {
  display: block;
  padding: 5px 10px;
}
.slideshow_menu {
  width: 940px;
  text-align: center;
}
.slideshow_menu ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.slideshow_menu li {
  width: 132px;
  display: inline-block;
  list-style: none;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}
.slideshow_menu li a {
  display: block;
  height: 50px;
  padding-top: 0px;
  color: #060;
  text-decoration: none;
}
.large_tech_text_upper {
  padding: 0 10px;
}
.testimonials {
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 30px;
  line-height: 1.2;
}
#testimonial_link {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  display: block;
  padding-bottom: 25px;
  line-height: 1.2;
  font-size: 20px;
}
.item_spacing {
  height: 30px;
}
.item_image {
  display: inline-block;
  padding-top: 1em;
}
.item_text {
  margin-left: 30px;
  vertical-align: top;
  display: inline-block;
}
.side_squeeze {
  margin: 0 5px;
}
.v_center {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hide {
  display: none;
}
.tree_target {
  position: absolute;
  display: inline-block;
  cursor: default;
}
.tree_box {
  position: relative;
  height: 256px;
  width: 300px;
  margin: 0 auto;
}
.tech_box_common {
  position: absolute;
  height: 40px;
  width: 140px;
}
#tree_django {
  position: absolute;
  height: 40px;
  width: 140px;
  top: 178px;
  left: -30px;
}
#tree_jquery {
  position: absolute;
  height: 40px;
  width: 140px;
  top: 178px;
  left: 190px;
}
#tree_python {
  position: absolute;
  height: 40px;
  width: 140px;
  top: 226px;
  left: -60px;
}
#tree_ubuntu {
  position: absolute;
  height: 40px;
  width: 140px;
  top: 124px;
  left: 0px;
}
#tree_mysql {
  position: absolute;
  height: 40px;
  width: 140px;
  top: 124px;
  left: 160px;
}
#tree_linux {
  position: absolute;
  height: 40px;
  width: 140px;
  top: 226px;
  left: 220px;
}
.plus_and_equals_signs {
  position: relative;
  top: 85px;
}
.tech_side_image_common {
  position: relative;
  width: 192px;
  top: 36px;
  height: 128px;
  margin: 0 auto;
}
#your_idea_image {
  position: relative;
  width: 192px;
  top: 36px;
  height: 128px;
  margin: 0 auto;
  background: url('/static/images/your_idea.png') no-repeat center;
}
#our_solution_image {
  position: relative;
  width: 192px;
  top: 36px;
  height: 128px;
  margin: 0 auto;
  background: url('/static/images/our_solution.png') no-repeat center;
}
/* Preload images */
body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}
body.lb-disable-scrolling {
  overflow: hidden;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-caption a {
  color: #4ae;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.addon_fonts_options {
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'prime_regular';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/prime_regular.otf') format('opentype');
}
@font-face {
  font-family: 'prime_light';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/prime_light.otf') format('opentype');
}
