.art-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.symbol {
  font-size: 24px;
  line-height: initial;
}
.content_col {
  display: inline-block;
  vertical-align: top;
  width: 440px;
  padding: 10px;
  min-height: 300px;
}
.content_col_left {
  display: inline-block;
  vertical-align: top;
  width: 440px;
  padding: 10px;
  min-height: 300px;
  border-right: 1px solid #2f9a41;
}
.content_col_right {
  display: inline-block;
  vertical-align: top;
  width: 440px;
  padding: 10px;
  min-height: 300px;
  margin-top: 10px;
}
.row {
  position: relative;
}
.row_32 {
  position: relative;
  height: 32px;
}
.row_border {
  line-height: 30px;
  border-bottom: 1px solid #2f9a41;
}
.contact_info {
  position: absolute;
  top: 0px;
  left: 100px;
  line-height: 30px;
}
#gallery {
  left: 0px;
  width: 940px;
}
#slides {
  height: 310px;
}
.blog_navigation {
  position: relative;
  height: 40px;
  width: 100%;
}
.client_slide {
  float: left;
  text-align: center;
  width: 100%;
  display: none;
}
.client_image {
  top: 0px;
  display: inline-block;
  vertical-align: middle;
}
.client_text_box {
  width: 740px;
  margin: 20px;
  display: inline-block;
}
.client_underline {
  display: none;
}
.slide {
  position: relative;
  min-height: 75px;
  width: 786px;
  float: left;
  margin-left: 67px;
}
a img {
  border: none;
}
.tech_boxes {
  position: relative;
  top: 0px;
  left: 67px;
  width: 800px;
}
.competitor-boxes {
  position: relative;
  top: 0px;
  left: 98px;
  width: 740px;
}
.competitor-box {
  float: left;
  width: 144px;
  height: 50px;
}
.competitor {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 5px;
}
.competitor-boxes a:link,
.competitor-boxes a:visited {
  text-decoration: none;
  color: #c0c0c0;
}
.gallery_tool_img {
  float: left;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.slideshow_menu {
  width: 940px;
  text-align: center;
}
.slideshow_menu ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.slideshow_menu li {
  width: 132px;
  display: inline-block;
  list-style: none;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}
.slideshow_menu li a {
  display: block;
  height: 50px;
  padding-top: 0px;
  color: #060;
  text-decoration: none;
}
.large_tech_text_upper {
  padding: 0 10px;
}
#testimonial_link {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  display: block;
  padding-bottom: 15px;
  line-height: 1.2;
  font-size: 20px;
}
.hide {
  display: none;
}
.flex {
  display: flex;
  justify-content: center;
}
.flex-ends {
  width: 150px;
}
.careers {
  text-align: center;
}
.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}
.hll {
  padding: 1px 2px !important;
  background: #202020 !important;
  border: 1px solid !important;
  border-color: #808080 !important;
  border-radius: 3px !important;
  color: #c0c0c0 !important;
}
.code-highlights .tl-green {
  color: #2f9a41;
}
.code-highlights .blue {
  color: #0087d7;
}
.code-highlights .burnt-orange {
  color: #c4a000;
}
.code-highlights .green {
  color: #2f9a41;
}
.code-highlights .orange {
  color: #af5f00;
}
.code-highlights .pink {
  color: #ff5f87;
}
.code-highlights .purple {
  color: #af00ff;
}
.code-highlights .white {
  color: white;
}
.code-highlights .host {
  color: #8ae234;
}
.code-highlights .path {
  color: #729fcf;
}
.code-highlights .method {
  color: #af5f00;
}
.code-highlights .protected {
  font-weight: bold;
  color: white;
}
.code-highlights .click-header {
  color: #06989a;
}
.code-highlights .click-subheader {
  color: #c4a000;
}
.code-highlights .click-prompt {
  color: #4e9a06;
}
.code-highlights .import {
  color: #34e2e2;
}
.code-highlights .bold {
  font-weight: 600;
}
code {
  padding: 1px 2px;
  background: #202020;
  border: 1px solid;
  border-color: #808080;
  border-radius: 3px;
  max-width: 100%;
  overflow-x: auto;
  font: 12px monospace;
}
code .tl-green {
  color: #2f9a41;
}
code .blue {
  color: #0087d7;
}
code .burnt-orange {
  color: #c4a000;
}
code .green {
  color: #2f9a41;
}
code .orange {
  color: #af5f00;
}
code .pink {
  color: #ff5f87;
}
code .purple {
  color: #af00ff;
}
code .white {
  color: white;
}
code .host {
  color: #8ae234;
}
code .path {
  color: #729fcf;
}
code .method {
  color: #af5f00;
}
code .protected {
  font-weight: bold;
  color: white;
}
code .click-header {
  color: #06989a;
}
code .click-subheader {
  color: #c4a000;
}
code .click-prompt {
  color: #4e9a06;
}
code .import {
  color: #34e2e2;
}
code .bold {
  font-weight: 600;
}
pre {
  white-space: pre-wrap;
}
pre code {
  display: block;
  padding: 5px 10px;
}
.tree_box {
  min-width: 300px;
  position: relative;
  text-align: center;
}
.tech_side_image {
  min-width: 200px;
  text-align: center;
}
#tree_left_top {
  position: absolute;
  top: 136px;
  left: 50px;
}
#tree_left_middle {
  position: absolute;
  top: 190px;
  left: 20px;
}
#tree_left_bottom {
  position: absolute;
  top: 240px;
  left: -10px;
}
#tree_right_top {
  position: absolute;
  top: 136px;
  left: 210px;
}
#tree_right_middle {
  position: absolute;
  top: 190px;
  left: 220px;
}
#tree_right_bottom {
  position: absolute;
  top: 240px;
  left: 250px;
}
/* Preload images */
body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}
body.lb-disable-scrolling {
  overflow: hidden;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-caption a {
  color: #4ae;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
