{% macro render_blog_post(post, from_index=false) %}
  {% from "macros/pagination.html" import render_pagination %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    on {{ post.pub_date }}
  </p>
  {{ post.body }}
  </div>
  {{ render_blog_sibling_nav(post) }}
{% endmacro %}

{% macro render_blog_sibling_nav(post, from_index=false) %}
  <div class="blog-nav">
    <br>
    {% set siblings = post.get_siblings() %}
    {# TODO: Make this a template tag so that we can have page|seriable #}
    {% set prev_valid = "True" if siblings.prev_page._model in ['blog', 'blog-post'] %}
    {% set next_valid = "True" if siblings.next_page._model in ['blog', 'blog-post'] %}

    {% if siblings.prev_page and prev_valid %}
      <a href="{{ siblings.prev_page|url }}" title="{{ siblings.prev_page.title }}" >&laquo; Previous</a>
    {% endif %}

    {% if siblings.prev_page and prev_valid %} | {% endif %}
    {% if (post._path != "/blog") %} {{ post.title }} {% endif%}
    {% if siblings.next_page and next_valid %} | {% endif %}

    {% if siblings.next_page and next_valid %}
      <a href="{{ siblings.next_page|url }}" title="{{ siblings.next_page.title }}" >Next &raquo;</a>
    {% endif %}
  </div>
{% endmacro %}
