{% macro render_subnav_rows(width) %}
  {% for subnav_item in this.SubNav.blocks %} {# finds all blocks in SubNav model #}
    <div>
      {% set img = subnav_item.images.blocks[0] %}
      <div class="item_image" style="width: {{ width }};">
        {% set thumb = this.record.attachments.images.get(img.image) %}
        {% if thumb.width >= width %}
          {% set thumb = thumb.thumbnail(width) %}
        {% endif %}
        <img src="{{ thumb|url }}" title="{{ img.title }}">
      </div>
      <div class="item_text">
        {{ subnav_item.body }}{{ subnav_item.body_html }}
      </div>
    </div>
  {% endfor %}
{% endmacro %}
