{% extends "includes/footer.html" %}

{% block footer %}
  Copyright &copy; 2018 Terminal Labs. All rights reserved.
{% endblock footer %}

{% block footer_scripts %}
  <script src="{{ "/static/js/tool_gallery.js"|asseturl }}"></script>
  <script src="{{ '/static/js/contacts_accordion.js'|asseturl }}"></script>
  <script src="{{ '/static/js/slideshow_events.js'|asseturl }}"></script>
  <script src="{{ '/static/js/lightbox.js'|asseturl }}"></script>
  <script src="{{ '/static/js/tree_events.js'|asseturl }}"></script>
  <script>
   init_contacts_accordion();
   load_modavanti();
   init_slideshow_events();
   init_tech_tree();
  </script>
{% endblock footer_scripts %}
