{% extends "includes/footer.html" %}

{% block footer %}
  <div class="flex">
    <div class="flex-ends left"></div>
    <div class="careers"><a href="/careers/">Careers</a></div>
    <div class="flex-ends right">&copy; 2022 Terminal Labs</div>
  </div>
{% endblock footer %}

{% block footer_scripts %}
  <script src="{{ '/static/js/contacts_accordion.js'|asseturl }}"></script>
  <script src="{{ '/static/js/slideshow_events.js'|asseturl }}"></script>
  <script src="{{ '/static/js/lightbox.js'|asseturl }}"></script>
  <script src="{{ '/static/js/tree_events.js'|asseturl }}"></script>
  <script>
   init_contacts_accordion();
   init_tech_tree();
  </script>
{% endblock footer_scripts %}
