<head>
  <link rel="stylesheet" href="{{ '/static/css/style.css'|asseturl }}" type="text/css" media="all">
  <title>{% block meta_title %}Terminal Labs{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{% block description %}{{ this.meta_description }}{% endblock %}">
  <meta name="keywords" content="{% block keywords %}{{ this.meta_keywords }}{% endblock %}">

  {% block header_scripts %}
    <script src="{{ '/static/js/jquery-1.11.0.min.js'|asseturl }}"></script>
    <script>
      var _gaq = _gaq || [];
      var pluginUrl =
        '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-36783686-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  {% endblock header_scripts %}
</head>
