<div class="tech_side_image">
  <img src="{{ '/static/images/your_idea.png'|asseturl }}">
</div>
<div>
  <div class="symbol">+</div>
</div>
<div class="tree_box">
  <img src="{{ '/static/images/tech_tree.png'|asseturl }}">
  <div id="tree_python">Python</div>
  <div id="tree_jquery">jQuery</div>
  <div id="tree_django">Django</div>
  <div id="tree_ubuntu">Ubuntu</div>
  <div id="tree_mysql">MySQL</div>
  <div id="tree_linux">Linux</div>
</div>
<div>
  <div class="symbol">=</div>
</div>
<div class="tech_side_image">
  <img src="{{ '/static/images/our_solution.png'|asseturl }}">
</div>

