<pre><code><span class="white"><span class="code-highlights">(tl_web)<span class="host"><b>workstation@debian</b></span>:<span class="path"><b>~/tl_website/testimonials</b></span>$ python
Python 3.10.0 (default, Dec 21 2021, 13:36:04) [GCC 7.5.0]
Type 'copyright', 'credits' or 'license' for more information
IPython 7.30.1 -- An enhanced Interactive Python. Type '?' for help.
<span class="green">>>></span> <b><span class="green">from</span> <span class="blue">pathlib</span> <span class="green">import</span></b> Path
<span class="green">>>></span> <b><span class="green">from</span> <span class="blue">random</span> <span class="green">import</span></b> choice
<span class="green">>>> </span>testimonial = choice(<span class="green">list</span>(Path(<span class="orange">"assets/static/testimonials"</span>).iterdir()))
<span class="green">>>> <b>with </b></span>testimonial.open() <b><span class="green">as </span></b>fp:
<span class="green">... &nbsp;&nbsp;&nbsp; print</span>(f<span class="orange "><b>"</b></span><span class="pink"><b>{</b></span>testimonial.name<span class="pink"><b>}</b></span><span class="orange"><b>:\n"</b></span>)
<span class="green">... &nbsp;&nbsp;&nbsp; print</span>(fp.read(),<span class="orange"><b> "\n--------"</b></span>)
<span class="green">... </span>
Jesse_Heady.txt:

Terminal Labs has been an integral partner and instrumental to our embedded teams at Cox Media Group for nearly 2 years. In particular, they have provided a wealth of knowledge and expertise at a crucial time to our efforts around performance engineering and tooling for existing and emerging products. They have also helped us establish new standards and best practices in our engineering of secure, stable, and performant web applications.

Their expertise in python/django application performance and also deep understanding of front end technologies including complex JavaScript web applications has been invaluable to our team. Terminal Labs have assisted us across various project teams in our digital media business, delivering many features and improvements to our existing and developing platforms.

Terminal Labs works flawlessly in a high demand, agile environment with "in the weeds" tactical aptitude and high-level architectural and strategic thinking. I highly value our relationship and would recommend them without reservation to any project seeking professional and team oriented consultation. These guys all kick some serious ass.

--Jesse Heady, Lead Performance Engineer at Cox Media Group

--------
<span class="green">>>></span>
</span></code></pre>
