<div class="tech_side_image">
  <img src="{{ '/static/images/your_idea.png'|asseturl }}">
</div>
<div>
  <div class="symbol">+</div>
</div>
<div class="tree_box">
  <img src="{{ '/static/images/tech_tree.png'|asseturl }}">
  <div id="tree_left_top">Ubuntu</div>
  <div id="tree_left_middle">Django</div>
  <div id="tree_left_bottom">Python</div>
  <div id="tree_right_top">Cloud</div>
  <div id="tree_right_middle">SaltStack</div>
  <div id="tree_right_bottom">PostgreSQL</div>
</div>
<div>
  <div class="symbol">=</div>
</div>
<div class="tech_side_image">
  <img src="{{ '/static/images/our_solution.png'|asseturl }}">
</div>
