<div class="content_box">
  <div class="art-bar">
    <div class="tech_side_image">{Your Idea}</div>
    <div class="symbol">+</div>
    <div class="tree_box">{Technology}</div>
    <div class="symbol">=</div>
    <div class="tech_side_image">{Our solution}</div>
  </div>
</div>
<div class="content_box">
  <div class="art-bar">
    {% include "includes/homepage_art.html" %}
  </div>

  {% block body_content %}
    {{ this.body }}
  {% endblock body_content %}

  <div class="testimonials">
    <a href="/testimonials/" id="testimonial_link">Testimonials</a>
    {% include "includes/homepage_testimonial.html" %}
  </div>
</div>
