<div class="row_text_common">
  <div id="your_idea_image"><img src="{{ '/static/images/your_idea.png'|asseturl }}"></div>
</div>
<div class="row_thirds">
  <div class="plus_and_equals_signs">+</div>
</div>
<div class="row_text_center">
  <div class="tree_box">
    <img src="{{ '/static/images/tech_tree.png'|asseturl }}">
    <div class="tree_target" id="tree_python">Python</div>
    <div class="tree_target" id="tree_jquery">jQuery</div>
    <div class="tree_target" id="tree_django">Django</div>
    <div class="tree_target" id="tree_ubuntu">Ubuntu</div>
    <div class="tree_target" id="tree_mysql">MySQL</div>
    <div class="tree_target" id="tree_linux">Linux</div>
  </div>
</div>
<div class="row_thirds">
  <div class="plus_and_equals_signs">=</div>
</div>
<div class="row_text_common">
  <div id="our_solution_image"><img src="{{ '/static/images/our_solution.png'|asseturl }}"></div>
</div>

