<div class="content_box">
  <div class="row_text_left">{Your Idea}</div>
  <div class="row_text_one_third">+</div>
  <div id="tech_term" class="row_text_center">{Technology}</div>
  <div class="row_text_two_thirds">=</div>
  <div class="row_text_right">{Our solution}</div>
</div>
<div class="content_box">
  {% include "includes/homepage_art.html" %}
  <div class="testimonials">
    <a href="/testimonials/" id="testimonial_link">Testimonials</a>
    {% include "includes/homepage_testimonial.html" %}
  </div>
</div>
