<div class="social_box green_border">
  <a draggable="false" href="/repos_and_downloads">
    <div class="repo_link">Repos/Downloads{% for page in page_branch %}{% if page.is_current_or_ascendant and page.html_id == "repos_and_downloads" %}
      <div class="link_underline"></div>
      {% endif %}{% endfor %}
      </div>
  </a>
  <div class="linkedin_logo_box">
    <a href="http://www.linkedin.com/company/terminal-labs" target="_blank">
      <img draggable="false" src="{{ '/static/images/social/linkedin-icon.png'|url }}" alt="linkedin icon" />
    </a>
  </div>
  <div class="twitter_logo_box">
    <a href="https://twitter.com/terminal_labs" target="_blank">
      <img draggable="false" src="{{ '/static/images/social/twitter-icon.png'|url }}" alt="twitter icon" />
    </a>
  </div>
  <div class="pinterest_logo_box">
    <a href="https://www.pinterest.com/terminallabs" target="_blank">
      <img draggable="false" src="{{ '/static/images/social/pinterest-icon.png'|url }}" alt="pinterest icon" />
    </a>
  </div>
  <div class="facebook_logo_box">
    <a href="https://www.facebook.com/terminallabs" target="_blank">
      <img draggable="false" src="{{ '/static/images/social/facebook-icon.png'|url }}" alt="facebook icon" />
    </a>
  </div>
</div>
