{% extends "page.html" %}

{% from "macros/blog.html" import render_blog_post %}
{% from "macros/blog.html" import render_blog_sibling_nav %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block content %}
  <div class="content_box">
    {% if config.PACKAGES['lektor-atom'] %}
      <div id='rss-link'><p><a type=application/atom+xml href="{{ '@atom/feed'|url }}">Atom RSS Feed</a></p></div>
    {% endif %}
    {{ this.body }}
    {% for child in this.pagination.items.order_by('-pub_date', '-title') %}
    <a href="{{child.path}}" style="text-decoration: none; color: gainsboro;width: 100%;  border-width: 4px; border-color:#e7ff6e;">
      <div style="border-width: 4px; border-color:#e7ff6e;display:grid;grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));margin:2rem 1rem; flex-wrap: wrap; border-style: solid; padding:2rem">
        <div style="margin-top:auto;margin-bottom: auto;display: flex; flex-direction: column">
          <h3>
            {% if child.subtitle %}
            {{ child.title }}: {{ child.subtitle }}
            {% else %}
            {{ child.title }}
            {% endif %}
          </h3>
          <div>
            <p style="margin-top: 1.5rem">{{child.author}} -  {{child.pub_date}}</p>
          </div>
        </div>
        <div style="margin-top:1rem;display: flex">
          {% if child.thumbnail %}
            {% set thumbnail_url = child.path ~ "/" ~ child.thumbnail %}
          {% else %}
            {% set thumbnail_url = '/static/images/logo.svg'%}
          {% endif %}
          <img src="{{ thumbnail_url|url }}" style="max-width:100%; max-height: 200px;margin-left: auto; margin-right: auto">
        </div>
      </div>
    </a>
    {% endfor %}

    {% if this.pagination.pages > 1 %}
      {{ render_pagination(this.pagination) }}
    {% endif %}
  </div>
{% endblock content %}
