{% extends "flat.html" %}

{% block header_scripts %}
  <script type="text/javascript" src='https://terminallabs.com/static/js/slideshow_events.js'></script>
{% endblock header_scripts %}

{% block body_content %}
  <div id="gallery">
    <div id="slides">
      <div class="client_slide" id="client">
        <div class="ajax_insert">
          <div class="client_image_left">
            {% set img = this.clients.blocks[0].images.blocks[0].image %}
            {% if img.caption %}{% set alt = img.caption %}{% endif %}
            <a draggable="false" src="{{ img|url }}" alt="{{ alt }}">
              <img draggable="false" src="{{ this.record.attachments.images.get(img).thumbnail(250)|url }}" alt="{{ alt }}" width="250" height="141">
            </a>
          </div>
        </div>
          <div class="client_image_right">
            {% set img = this.clients.blocks[0].images.blocks[1].image %}
            {% if img.caption %}{% set alt = img.caption %}{% endif %}
            <a draggable="false" src="{{ img|url }}" alt="{{ alt }}">
              <img draggable="false" src="{{ this.record.attachments.images.get(img).thumbnail(250)|url }}" alt="{{ alt }}" width="250" height="141">
            </a>
          </div>
          <div class="client_text_box">
            {{ this.clients.blocks[0].body }}{{ this.clients.blocks[0].body_html }}
          </div>
      </div>
      <div id="our_clients">
        <div class="slideshow_menu" id="slideshow_menu">
          <ul>
            <li class="menu_item green_border unselectable" id="modavanti">
              <div class="link_underline client_underline" id="modavanti_underline"></div>
            </li>
            <li class="menu_item green_border unselectable" id="agyield">agYield
	      <div class="link_underline client_underline" id="agyield_underline"></div></li>
            <li class="menu_item green_border unselectable" id="mobius">Mobius
	      <div class="link_underline client_underline" id="mobius_underline"></div></li>
            <li class="menu_item green_border unselectable" id="cox_media">Cox Media
	      <div class="link_underline client_underline"  id="cox_media_underline"></div></li>
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript">// <![CDATA[
    load_modavanti();
     // ]]></script>
  </div>
{% endblock body_content %}


