{% extends "flat.html" %}

{% block header_scripts %}
  <script src="{{ '/static/js/jquery-1.11.0.min.js'|asseturl }}"></script>
{% endblock header_scripts %}

{% block body_content %}
  <div id="gallery">
    <div id="slides">
      {% for client in this.SubNav.blocks %} {# finds all blocks in SubNav model #}
        <div class="client_slide" id="client_{{ client.title|slug }}">
          {% for block in client.images.blocks %}
            {% set img = block.image %}
            <div class="client_image">
              {% if img.caption %}
                {% set alt = img.caption %}
              {% else %}
                {% set alt = "" %}
              {% endif %}
              <a draggable="false" href="{{ img|url }}" data-title="{{ alt }}" data-lightbox="image-{{ client.title|slug }}">
                <img draggable="false" src="{{ this.record.attachments.images.get(img).thumbnail(250)|url }}" alt="{{ alt }}">
              </a>
            </div>
          {% endfor %}
          <div class="client_text_box" id="{{ client.title|slug }}_body">
            {{ client.body }}{{ client.body_html }}<br>
          </div>
        </div>
      {% endfor %}
    </div>
    <div id="our_clients">
      <div class="slideshow_menu" id="slideshow_menu">
        <ul>
          {% for client in this.SubNav.blocks %}
            <li class="menu_item green_border unselectable" id="{{ client.title|slug }}">{{ client.title }}
              <div class="link_underline client_underline" id="{{ client.title|slug }}_underline"></div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock body_content %}

{% block footer_scripts %}
  <script src="{{ '/static/js/slideshow_events.js'|asseturl }}"></script>
  <script src="{{ '/static/js/lightbox.js'|asseturl }}"></script>
  <script>
    load_modavanti();
    init_slideshow_events();
  </script>
{% endblock footer_scripts %}
