{% extends "flat.html" %}

{% block body_content %}
  <div class="content_col_left">
    {{ this.body }}{{ this.body_html }}
    <div class="general_row_75h">
      <img src="{{ this.record.attachments.images.get('email.png').thumbnail(70)|url }}">
      <div class="general_row_text">solutions@terminallabs.com</div>
    </div>
    <div class="general_row_75h">
      <img src="{{ this.record.attachments.images.get('phone.png').thumbnail(70)|url }}">
      <div class="general_row_text">(512) 270-8665</div>
    </div>
  </div>
  <div class="content_col_right">
    <div class="general_row_32h">
      <div class="general_row_text_left">
        Contact Us By Name
      </div>
    </div>
    <br><br>
    {% for contact in this.Contacts.blocks %} {# finds all blocks in Contacts model #}
      <div class="general_row_32h">
        <div id="contact-{{ contact.name|slug }}" class="general_row_text_left contact">{{ contact.name }}</div>
      </div>
      <div id="info-{{ contact.name|slug }}" class="accordion_rows" style="display: none;">
        <div class="general_row_32h">
          <img src="{{ this.record.attachments.images.get('email.png').thumbnail(32)|url }}">
          <div class="general_row_text">{{ contact.email }}</div>
        </div>
        <div class="general_row_32h">
          <img src="{{ this.record.attachments.images.get('phone.png').thumbnail(32)|url }}">
          <div class="general_row_text">{{ contact.phone }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock body_content %}

{% block footer_scripts %}
  <script src="{{ '/static/js/contacts_accordion.js'|asseturl }}"></script>
  <script>
   init_contacts_accordion()
  </script>
{% endblock footer_scripts %}
