<div class="row_text_left">
  <div id="your_idea_image"><img src="your_idea.png"></div>
</div>
<div class="row_text_one_third font_2 font_24">
  <div class="plus_and__equals_signs">+</div>
</div>
<div class="row_text_center">
  <div class="tree_image_box">
    <img src="tech_tree.png">
    <div class="tree_image_box_image"></div>
    <div class="tree_image_box_target" id="tree_image_box_python">Python</div>
    <div class="tree_image_box_target" id="tree_image_box_jquery">jQuery</div>
    <div class="tree_image_box_target" id="tree_image_box_django">Django</div>
    <div class="tree_image_box_target" id="tree_image_box_ubuntu">Ubuntu</div>
    <div class="tree_image_box_target" id="tree_image_box_mysql">MySQL</div>
    <div class="tree_image_box_target" id="tree_image_box_linux">Linux</div>
  </div>
</div>
<div class="row_text_two_thirds font_24">
  <div class="plus_and__equals_signs">=</div>
</div>
<div class="row_text_right">
  <div id="our_solution_image"><img src="our_solution.png"></div>
</div>

