<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — tl_web_lektor</title>
<body>
  <header>
    <h1>tl_web_lektor</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title, icon in [
          ['/projects', 'Projects', 'icon'],
          ['/about', 'About', 'icon']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
            
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
	{% set root = site.get('/') %}

	{{ root.title  }}
	{% for child in root.children %}
		{{ child.icon }}
	{% endfor %}

	{% set image = this.attachments.images.get('attachment.png') %}
	{% if image %}
		<img src="{{ image.thumbnail(180)|url }}" alt="">
	{% endif %}

    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2016 by Terminal Labs.
  </footer>
</body>
