<!doctype html>
<html>
  {% include "includes/custom_head.html" %}
  <body>
    <div class="top_row">
      {% include "includes/logo.html" %}
      {% include "includes/social_networks.html" %}
    </div>
    {% include "includes/navbar.html" %}
    {% block content %}
      {% if this._path == '/' %} {# display homepage art #}
        {% include "includes/homepage_body.html" %}
      {% else %}
      <div class="content_box">
        {% block body_content %}
          {{ this.body }}
        {% endblock body_content %}
      </div>
      {% endif %}
    {% endblock content %}
  </body>
  {% include "includes/custom_footer.html" %}
  {% block additional_footer %}{% endblock %}
</html>
