{% extends "page.html" %}
{% block body_content %}
<div class="content_box partner-main-content">
    {% set img = this.record.attachments.images.get(this.tl_logo_image) %}
    {% set style_beginning = ' style="width: '|safe
    ~ this.tl_logo_image_width|string ~ 'px; "'|safe %}
    {% set img_style = style_beginning %}

    <img draggable="false" src="{{ img.thumbnail(this.tl_logo_image_width)|url }}" {{img_style}} />

    <center>
        <p>{{ this.hero_main_section }}</p>
        <p>{{ this.hero_sub_section }}</p>
    </center>

    {% set img = this.record.attachments.images.get(this.partner_logo_image) %}
    {% set style_beginning = ' style="width: '|safe
    ~ this.partner_logo_image_width|string ~ 'px; float: right;"'|safe %}
    {% set img_style = style_beginning %}

    <img draggable="false" src="{{ img.thumbnail(this.tl_logo_image_width)|url }}" {{img_style}} />
</div>

<div class="flex row">
    {% for blk in this.partner_flow.blocks %}
        {{ blk }}
        {% if loop.index % 2 == 0 %}
            </div><div class="flex row">
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
