{% extends "page.html" %}

{% block body_content %}
  <div id="gallery">
    <div id="slides">

      <div class="client_slide" style="display: block;">
        {% for partner in this.Partner.blocks %}
          <div class="client_image">
            {% if partner.image_width %}
              {% set width = partner.image_width %}
            {% else %}
              {% set width = 250 %}
            {% endif %}

            {% set img = this.record.attachments.images.get(partner.image) %}
            {% set style_beginning = ' style="padding: 20px; margin: 20px; width: '|safe
            ~ width|string ~ 'px;'|safe %}
            {% set img_style = style_beginning ~ ' background-color: '|safe
            ~ partner.background_color
            ~ ';"'|safe %}

            {% if partner.caption %}
              {% set alt = partner.caption %}
            {% else %}
              {% set alt = "" %}
            {% endif %}

            <a href="{{ partner.url }}" target="_blank">
              <img draggable="false" src="{{ img.thumbnail(width)|url }}" {{ img_style }} alt="{{ alt }}">
            </a>
          </div>
        {% endfor %}
        </div>

    </div>
    <div id="our_partners">
      <div class="slideshow_menu" id="slideshow_menu">
        <ul>
          {% for partner in this.Partner.blocks %}
          <li class="menu_item green_border unselectable" id="{{ partner.title|slug }}">
            <a href="{{ partner.url }}" target="_blank" style="color: inherit; font: inherit; text-decoration: none;">
              {{ partner.title }}
              <div class="link_underline"></div>
            </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock body_content %}
